
h1{
    font-family: 'Lobster Two', cursive;
}
.content{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Oswald', sans-serif;
}
.header{
    padding: 5vh 0vh;
    text-align: center;
}
.footer{
    height: 20vh;
    text-align: center;
}
.footer a{
    color: black;
    position:inherit;
    top: 20%;
    transform: translate(0, -50%);
    text-decoration: none;
}
.footer a:hover{
    color: #e84393;
    text-shadow: 1px 1px 20px #e84393;
    text-decoration: none;
}
}
.footer div{
    height: inherit;
}